
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #0D0D0D;
    font-family: "Montserrat", sans-serif;
    font-weight: none;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

#logo {
    width: 1500px;
    height: auto;
    margin-bottom: 200px;
}

nav {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
}

nav a {
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: #464646;
    font-weight: none;
    font-family: "Montserrat", serif;
    font-size: 20px;
}

nav a:hover {
    color: #ff7300;
}

main {
    padding: 20px;
    text-align: center;
}


.maquinas a{
    font-family: "Montserrat", serif;
    color:#fffdfd;
    border-radius: 15px;
    padding: 5px 12px;
    max-width: 666px;
    font-weight:none;
}


.maquinas {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    align-items: center;     /* Centraliza as imagens verticalmente */
    gap: 40px;
    flex-wrap: wrap;
    font-weight: none;
    margin-bottom: 60px;
}

.maquinas img {
    max-width: 20%;          /* Limita a largura máxima da imagem */
    max-height: 20%;         /* Limita a altura máxima da imagem */
    object-fit: contain;     /* Garante que a imagem mantenha suas proporções */
    border-radius: 5px;
    gap: 40px;
    transition: transform 0.3s;
}


.maquina_text a {
    font-family: "Montserrat", serif;
    margin: 0 20px;
    position:relative;
    text-decoration: none;
    color: #444444;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: none;
    margin-top: 60px;
}


.text_button {
    background-color: rgb(255, 123, 46);
    margin: 0 20px;
    position: relative;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    border-radius: 5px;
    padding: 5px 15px; /* Ajuste o preenchimento para controlar o tamanho */
    display: inline-block; /* Permite que o botão se ajuste ao conteúdo */
    text-align: center; /* Centraliza o texto dentro do botão */
    min-width: 150px; /* Define uma largura mínima */
    max-width: 300px; /* Define uma largura máxima */
    width: 100%; /* Faz o botão ocupar 100% da largura disponível dentro do seu contêiner */
    box-sizing: border-box; /* Inclui o preenchimento e a borda nas dimensões totais */
}

.text_button a {
    color: #fffdfd;
    text-decoration: none;
    display: block; /* Faz o link ocupar toda a área do botão */
    width: 100%; /* Garante que o link ocupe toda a largura do botão */
    height: 100%; /* Garante que o link ocupe toda a altura do botão */
    padding: 5px 15px; /* Ajuste o preenchimento para controlar o tamanho */
    border-radius: 5px;
    text-align: center; /* Centraliza o texto dentro do link */
}

.text_button a:hover {
    color: rgb(255, 255, 255);
    background-color: #1b6e3e;
    text-decoration: none;
    
}

.nome_maquina {
    font-family: "Montserrat", serif;
    font-size: 600;
    font-weight: none;
    text-decoration: none;
    color:#444444;
}
