
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #0D0D0D;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background:#ffffff
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

#logo {
    width: 1500px;
    height: auto;
    margin-bottom: 200px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #ff7300;
}

main {
    padding: 20px;
    text-align: center;
}

.main-container{
    display:flex;
    /*background-color:#dbc7ac;*/
    gap: 20px;
    max-width: 1000px;
    margin:0 auto;
    flex-wrap:wrap;
}

.main-container p{
    color:rgb(26, 27, 31)
}

/*main-block*/
.main-block{
    background-color:#ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: center;
  /*  box-shadow:0 4px 6px;*/
    align-items: center;
    padding: 20px;
 }

.main-block a{
    color:#fffdfd;
    background-color:rgb(255, 94, 0);
    border-radius: 15px;
    padding: 5px 12px;
    max-width: 150px;
    box-shadow:0 4px 6px;
    transition: all 0.5s;
}

.main-block a:hover{
    color:#000000;
    background-color:#ff9456;
}

.maquinas {
    flex: 1 1 300px;
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    position: relative;
    background-color: #ffffff;
    width: auto;
    display: flex;
}

.maquinas img:hover {
    transform: scale(1.1);
}



.maquina_text a {
  font-family: "Montserrat", serif;
  margin: 0 20px;
  position:relative;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  font-size: 30px;
}

.maquinas::after {
  content: "";
  clear: both;
  display: table;
}

.text_button {
    background-color: #ff9456;
    margin: 0 20px;
    position:relative;
    font-size: 20px;
    border-radius: 5px;
    padding: 30px;
}
.text_button a {
    color:#fffdfd;
    text-decoration: none;
}
.text_button a:hover {
    color:#ff9456;
    background-color: #fffdfd;
    text-decoration: none;
    margin: 0 20px;
    position:relative;
    font-size: 20px;
    border-radius: 5px;
    padding: 30px;
    
}